<% if line_item.product_id %>

  <% product = Product.find(line_item.product_id) %>
  
  <article class="product">
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <p>Quantity: <%= line_item.quantity %></p>
  <p class="description">
    <%= product.description %>
  </p>
  <aside class="price">
    Price: <%= humanized_money_with_symbol product.price * line_item.quantity %>
  </aside>
</article>


<% end %>
