<% total = 0 %>
<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <% @line_item.each do |item| %>
      <%= render 'line_item', line_item: item[:line_item] %>
  <% end %> 
  <br>
  <div>Total: <%= humanized_money_with_symbol @order.total_cents / 100.0 %></div>
  <br>
  <div>Email: <%= @order.email %></div>
  <br>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
